
.imaging-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    /* Add relative positioning */
}

.imaging-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('imaging.jpg') center/cover no-repeat;
    /* Reference the image without './' */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0px);
    z-index: -1;
}

.imaging-container>h1,
.imaging-container>p {
    position: relative;
    z-index: 1;
}

.imaging-container>h1 {
    color: #f9c650;
    font-size: 120px;
    margin-top: -110px;
    margin-right: 30rem;
    text-align: center;
}

.imaging-container>p {
    margin-top: 8px;
    color: #FFFFFF;
    margin-right: 25rem;
    margin-left: 30rem;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .imaging-container>h1 {
        font-size: 40px;
        /* Adjusted font size for smaller screens */
        margin-top: -100px;
        /* Adjusted margin for top */
    }
}

@media screen and (max-width: 768px) {
    .imaging-container>h1 {
        font-size: 50px;
        /* Adjusted font size for smaller screens */
        margin-top: -150px;
        /* Adjusted margin for top */
        margin-right: 9rem;
    }

    .imaging-container>p {
        font-size: 16px;
        /* Adjusted font size for smaller screens */
        margin-right: -5rem;
        margin-left: -5rem;
    }
}