/* LogIn.css */

.login-container {
    height: 120vh;
    /* Adjust the height as needed */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Center content horizontally */
    position: relative;
    overflow: hidden;
    margin-top: -7rem;
}

.login-banner {
    object-fit: cover;
    /* Fill the container */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.header {
    text-align: center;
    /* Center the text */
    margin-bottom: 20px;
    /* Add margin to the bottom for spacing */
}

.text {
    font-size: 24px;
    /* Adjust font size */
    font-weight: bold;
    /* Make the text bold */
    color: #333;
    /* Set text color */
}

.underline {
    width: 50px;
    /* Set the width of the underline */
    height: 2px;
    /* Set the height/thickness of the underline */
    background-color: #333;
    /* Set the color of the underline */
    margin: 10px auto;
    /* Center the underline with margin */
}

.inputs {
    margin-bottom: 20px;
    margin-top: 20px;
    /* Add margin to the bottom for spacing */
}

.input {
    /* Your input styles here */
    margin-bottom: 15px;
    /* Add margin between inputs */
}

input {
    width: 100%;
    /* Make the input full width */
    padding: 10px;
    /* Add padding to the input */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    /* Add border-radius for rounded corners */
}

.submit-container {
    text-align: center;
    /* Center the submit container */
}

.submit {
    background-color: #5ed2b9;
    /* Set the background color of the submit button */
    color: white;
    /* Set text color */
    padding: 10px 20px;
    /* Add padding to the button */
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Add border-radius for rounded corners */
    cursor: pointer;
    /* Add pointer cursor */
}

.gray {
    background-color: #ccc;
    /* Set background color for the grayed-out button */
}